<nav class="sidebar-nav scroll-sidebar" data-simplebar>
    <ul id="sidebarnav">
      <!-- ============================= -->
      <!-- Home -->
      <!-- ============================= -->
      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu">Home</span>
      </li>
      <!-- =================== -->
      <!-- Dashboard -->
      <!-- =================== -->

     







    </ul>
    <!-- <div class="unlimited-access hide-menu bg-light-primary position-relative my-7 rounded">
      <div class="d-flex">
        <div class="unlimited-access-title">
          <h6 class="fw-semibold fs-4 mb-6 text-dark w-85">Unlimited Access</h6>
          <button class="btn btn-primary fs-2 fw-semibold lh-sm">Signup</button>
        </div>
        <div class="unlimited-access-img">
          <img src="/dashboard/dist/images/backgrounds/rocket.png" alt="" class="img-fluid">
        </div>
      </div>
    </div> -->
  </nav>